.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
Brito-Morales_2018.pdf
DiCecco_Gouhier_2018.pdf
DiCecco_Gouhier_2018_supplementary.pdf
papers
Loarie_et_al_2008.pdf
Steele_1985.pdf
*key papers*
Percival_and_Constantine_TVFD.pdf
code_for_TVFD_sim?.pdf
piecewise_spectral_change.pdf
.Rdata
.httr-oauth
