s_mosaic.grd
s_mosaic.gri
s_mosaic.rds
l_mosaic.grd
l_mosaic.gri
l_mosaic.rds
mosaic.grd
mosaic.gri
l_mosaic-01_CMCC-CESM.rds
s_mosaic-01_CMCC-CESM.rds
l_mosaic-01_CMCC-CESM_tos.rds
l_mosaic-02_CMCC-CM.rds
l_mosaic-03_CMCC-CMS.rds
l_mosaic-04_MPI-ESM-LR.rds
l_mosaic-05_MPI-ESM-MR.rds
l_mosaic-06_GFDL-ESM2G.rds
l_mosaic-07_GFDL-CM3.rds
l_mosaic-08_GFDL-ESM2M.rds
s_mosaic-01_CMCC-CESM_tos.rds
s_mosaic-02_CMCC-CM.rds
s_mosaic-03_CMCC-CMS.rds
s_mosaic-04_MPI-ESM-LR.rds
s_mosaic-05_MPI-ESM-MR.rds
s_mosaic-06_GFDL-ESM2G.rds
s_mosaic-07_GFDL-CM3.rds
s_mosaic-08_GFDL-ESM2M.rds
